.boton__form--position {
    transform: rotate(90deg);
    position: absolute;
    right: -19.8%;
    top: 40.9%;
}

.boton__form {
    width: 289px;
    background-color: $white;
    color: $smocky-black;
    border-radius: 0px;
    padding: 1rem;
    border: 1px solid $white;
    font-family: $old-standard;
    font-weight: $bold;
    font-size: $large;
    &:focus {
        color: $white;
        border: 1px solid $white;
        ;
    }
}

.boton__primero {
    padding: 15px 30px;
    background-color: $white;
    border: 1px solid $smocky-black;
    margin-top: 1rem;
    display: inline-block;
    color: $smocky-black;
    font-family: $raleway;
    font-weight: $bold;
    &:hover {
        border: 1px solid $quick-silver;
        color:  $smocky-black
    }
    &:focus {

        border: 1px solid $quick-silver;
        color:  $quick-silver;

    }
}