
h1,
h3,
h2,
nav a { 
    font-family: $pt-mono;
}

p,
h4 {
    font-family: $roboto;
}
h1 { font-size: $xxx-large;}
h2 {font-size: $x-large}
h3 { font-size: $xx-large;}
h4 { font-size: $large;}
p { font-size:  $medium;}

span { display: block;}