p { 
    font-family: $raleway;
    font-weight: $regular;
}
h1,
h2 {
    font-family: $old-standard;
    font-weight: $bold;
}

h1 {
    font-size: $xxx-large;
}

h2 {
    font-size: $xx-large;
}

p {
    font-size: $medium;
    line-height: normal;
}
