//Variables de colores

//Blancos

$white: #ffffff;
$isabelline: #eeeded;
$spanish-gray: #989797;

//Amarillos

$coral: #eacb31;
$buff: #f2e16a;
$vanilla: #f5e7a1;


//rojos

$flame: #e4572e;
$light-red-ochre: #e87554;
$pastel-pink: #f2b2a0;

//Verdes

$shiny-shamrock: #4ca866;
$turqoise-green: #9dcfab;
$pastel-gray: #bddfc7;


//Azules


$blue-de-france: #3c91e6;
$blue-jeans: #5fa5ea;
$jordy-blue: #82b9ef;


//Negros

$black: #000000;
$outer-space: #454545;
$quick-silver: #a2a2a2;



//TIPOGRAFIAS

$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;

//FUENTES

$pt-mono: 'PT Mono', monospace;
$roboto: 'Roboto', sans-serif;