.logo {
    font-family: $old-standard;
    font-size: $xx-large;
    font-weight: $bold;
    color: $white;
    padding: 20px;
    background-color: $smocky-black;
}

.navbar {
    padding: 0rem 1rem 0rem 0rem;
}

nav ul li a {
    font-family: $raleway;
    font-size: $medium;
    font-weight: $bold;

}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 2rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0rem;
}

.navbar-light .navbar-toggler {
    color: $smocky-black;
    border-color: rgba(0, 0, 0, 0);
}

#navbarNav ul {
    padding: 1rem;
}